<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('sidebar', {links: links}) %>
    <h1><%= title %></h1>

</body>
</html>