nav {
    background-color: #212529;
    width: 200px
}

nav li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1em;
}

body {
    background-color: #343a40;
    color: white;
    display: flex;
    height: 100vh;
    margin: 0px;
    font-size: 20px;
}

h1 {
    margin: 18px;
}

.inventoryDiv {
    padding: 18px;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ced4da;
    transition: ease-in-out;
    transition-duration: 200ms;
}

table, th, td {
    border: 2px solid #adb5bd;
}

td, th {
    padding: 10px;
}